[user]
        name = xzpeter
        email = xzpeter@gmail.com
[alias]
        lo = log --color --stat --summary
        ci = commit
        co = checkout
        st = status
        di = diff --color
        br = branch --color
[core]
        editor = emacsclient -a emacs
[merge]
        tool = meld
